$color-primario: rgb(228, 227, 227);
$color-secundario: #8736a0;
$text-align-c: center;
$fuente:'display', sans-serif;
$sizeFuente-1: 5rem;
$sizeFuente-2: 2rem;
$sizeFuente-3: 3rem;
$displayFlex: flex;
$displayinline: inline;
$displayBlock: block;
$fontWeight: 900;